
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Satisfy&display=swap");

:root{
    --brown: #332424;
    --dark-brown: #1b1515;
    --orange: #e4935b;
    --white: white;
}


*{
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

*::selection{
    background:var(--orange);
}

body{
    background: var(--dark-brown);
}